<!-- <ol>
  <li ng-repeat="item in found">
    {{ item.name }} - {{ item.short_name }} - {{ item.description }}
    <button ng-click="onRemove({index: $index});">Remove Item</button>
  </li>
</ol>
<div class="error" ng-if="found && found.length==0">Nothing found</div> -->
<div ng-if="found && found.length>0">
{{found.length}} items selected
</div>
<table width="100%">
  <tr ng-repeat="item in found">
    <td>{{ item.name }}</td>
    <td>{{ item.short_name }}</td>
    <td>{{ item.description }}</td>
    <td width="150px"><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
  </tr>
</table>
<div style="color:red" ng-if="found && found.length==0">Nothing found</div>
